
__pycache__/
*.pyc
*.pyo
*.pyd

.env
firebase-key.json
.streamlit/
*.json 


*.pt
*.pth
*.h5
*.pkl
*.onnx
*.tflite
models/
model/
checkpoints/
weights/


submission/
submissions/
*/submission/
*/submissions/

.DS_Store
.vscode/
.idea/
